// Colors
// $lfg-pink: #ed2079;
$lfg-pink: #ed1d7a;
$lfg-pink--hover: #e59bbb;
$lfg-pink--hover-dark: #c51866;
$lfg-poster-yellow: #ffec84;
$lfg-poster-yellow-top-left: #fff584;
$lfg-poster-yellow-bottom-right: #ffe484;
$lfg-dark-gray: #212529;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
